---
layout: home-page
title: Projects
permalink: /projects/
---

<div>
    <div class="projects-main-header">
        <h1 style="margin-bottom: 5px;">PROJECTS</h1>
    </div>
    <div class="projects-container">
        {% for project in site.data.projects %}
        <div class="projects-card">
            <div class="projects-header">
                <h2 class="projects-title">{{ project.title }}<a class="project-ext-link"
                        href="{{project.extLink}}">
                        <i class="fas fa-external-link-alt" aria-hidden="true"></i>
                    </a>
                </h2>
            </div>
            <div class="projects-description">
                {{ project.content}}
            </div>
            {% if project.extImgLink %}
            <img class="projects-video" src="{{project.extImgLink}}" alt="">
            {% endif %}
            {% if project.imgLink %}
            <img class="projects-video" src="{{ "/assets/img/" | prepend: site.baseurl }}{{project.imgLink}}" alt="">
            {% endif %}
            {% if project.videowebm %}
                {% include video.html webm=project.videowebm mp4=project.videomp4 %}
            {% elsif project.videomp4 %}
                {% include video.html mp4=project.videomp4 %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>