.newsletter-box{
    display: flex;

    @media only screen and (max-width: 480px){
        flex-direction: column;

        &_submit{
            width:100%;
            margin-top: 10px;
        }
    }

    &_email{
        width:100%;
        padding: 10px;
        border-radius: 0.25rem 0 0 0.25rem;

        @media only screen and (max-width: 480px) {
            border-radius: 0.25rem;
        }
    }

    &_submit{
        color: white;
        background-color: var(--newsletter-btn-color);
        border: 5px solid var(--newsletter-btn-color);
        padding: 15px 50px;
        cursor: pointer;
        text-transform: uppercase;
        border-radius: 0 0.25rem 0.25rem 0;

        @media only screen and (max-width: 480px) {
            border-radius: 0.25rem;
        }

        &:hover{
            border: 5px solid var(--newsletter-btn-clr-hvr);
            color:  var(--newsletter-btn-clr-hvr-txt);
        }
    }
}

