<section class="author-box">
  <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}" class="author-img">
  <div class="author-desc">
    <h2>{{site.author}}</h2>
    <p>{{site.about-author}}</p>
    <ul>
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}" aria-label="Email"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
      {% if site.website %}
        <li class="website"><a href="http://{{site.website}}" target="_blank" aria-label="Website"><i class="fa fa-globe"></i></a></li>
      {% endif %}
      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank" aria-label="linkedin"><i class="fa fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.twitter %}
        <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank" aria-label="Twitter"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
    </ul>
  </div>
</section>
