<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta name="description" content="{{ page.description }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='manifest' href='/manifest.json'>
	<meta property="og:image" content="">
	<link rel="shortcut icon" href="{{ "/assets/img/favicon/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
	<link rel="apple-touch-icon" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/img/favicon/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/img/favicon/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#311e3e">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#311e3e">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#311e3e">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/f430ab3721.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ "/assets/css/light.css" | prepend: site.baseurl }}" media="(prefers-color-scheme: light)">
	<link rel="stylesheet" href="{{ "/assets/css/dark.css" | prepend: site.baseurl }}" media="(prefers-color-scheme: dark)">
	<!-- Styles -->
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<!-- Google verification -->
	<meta name="google-site-verification" content="e33KPrSW7_LHxFoA9XP_rkj1noTjubwKyfeCRAV9seg" />
	
	<script type="module" src="https://unpkg.com/dark-mode-toggle"></script>
	{% seo %}
</head>
