<div class="dwc-newsletter" id="mc_embed_signup">
  <div class="form-container">
    <p>If you liked this article, please <strong>subscribe</strong> so you don't miss any future post.</p>
    <form action="https://dancingwithcrm.us4.list-manage.com/subscribe/post" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="hidden" name="u" value="146d1df030bf451984f7700fb">
      <input type="hidden" name="id" value="ba3c34cafb">
      <div class="newsletter-box " id="mc_embed_signup_scroll">
        <input type="email" aria-label="subsribe email" name="MERGE0" placeholder="Email address" class="email-input newsletter-box_email" id="MERGE0" required>
        <input type="submit" value="Subscribe" name="subscribe" class="subscribe-btn newsletter-box_submit" id="mc-embedded-subscribe">
      </div>
    </form>
  </div>
</div> 
<!-- End Newsletter -->
