<div class="important-block">
    <span class="important-block__header">
        <strong>
            <i class="fa fa-exclamation-circle" aria-hidden="true"
                style="font-size: 18px; margin-right: 5px;"></i>IMPORTANT</strong>
    </span>
    <br />
    Help <strong>UKRAINE</strong> <img src="/assets/img/ukraine-flag.png" alt="" style="height:20px; width: 20px; margin-bottom: -3px;"> ! Your action matters! <a href="https://bank.gov.ua/en/news/all/natsionalniy-bank-vidkriv-spetsrahunok-dlya-zboru-koshtiv-na-potrebi-armiyi">Donate money</a> to support Ukrainian Army! Organize/join street protests in your city to support Ukraine and condemn Russian aggression! Expose and report Russian disinformation! <strong>#StayWithUkraine</strong>
</div>