.important-block{
    background-color: var(--important-block-bg-color);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0px;

    &__header{
        color: var(--important-block-header-color);
    }
}