.post-card-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  
  animation-delay: 0.75s;
  animation-duration: 0.7s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

.post-card {
  display: flex;

  .post-card-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .post-card-body {
    padding: 1rem 1rem 1rem 2rem;

    .post-date{
      margin-left: 10px;
    }

    .post-card-title{
      text-decoration: none;
    }

    .post-card-link {
      text-decoration: none;
      display: block;
    }

    .tag-list{
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag{
      margin-right: 0.5rem;
    }
  
    .tag-link{
      text-decoration: none;
      font-weight: 600;
    }
  
  }
}
