.post-card-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  
}

.post-card {
  display: flex;

  .post-card-image {
    height: 100%;
    max-width: 100%;
    width: auto;
    object-fit: cover;
  }

  .post-card-body {
    padding: 1rem 1rem 1rem 2rem;

    .post-date{
      margin-left: 10px;
    }

    .post-card-title{
      text-decoration: none;
    }

    .post-card-link {
      text-decoration: none;
      display: block;
    }

    .tag-list{
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
  
    .tag{
      margin-right: 0.75rem;
    }
  
    .tag-link{
      text-decoration: none;
    }
  
  }
}
