.projects-container {
    margin: 0 0 50px;
}

.projects-main-header{
    display: flex;
    justify-content: center;
}

.projects-video {
    max-width: 100%;
}

.project-ext-link {
    padding-left: 10px;
    text-decoration: none;
}

.projects-title {
    margin-bottom: 10px;
}

.projects-description {
    padding-bottom: 20px;
}

.projects-card {
    border-radius: 15px;

    padding: 15px 35px 35px 35px;
    margin: 20px 0 40px 0;
    /* Add shadows to create the "card" effect */
    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.3);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.projects-card:hover {
    box-shadow: 0 2px 16px 4px rgba(0, 0, 0, 0.3);
}


// @media (prefers-color-scheme: dark) {
// 	.projects-card {
//         border: 1px solid var(--light-brd-color);
// 	}
// }