.code-bar{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #3b3b3b;
}

.code-title{
    padding: 10px;
    font-weight: bold;
}

.copy-code-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 10px;
    background-color: #3b3b3b;

    &:hover{
        background-color: #656c7a;
    }

    &::before {
        content: "Copy";
    }

    &::after {
        margin-left: 4px;
        content: "📋";
        width: 1em;
    }

    // This class will be toggled via JavaScript
    &.copied {
        &::before {
            content: "Copied!";
        }

        &::after {
            content: "✔️";
        }
    }
}