.main-header {
  font-family: 'Lato', sans-serif;
  // padding: 15px 0;
  background-color: var(--main-bg-color);
  box-shadow: 0px -5px 15px rgba(0,0,0,.3);

  .header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    width: 50%;
    text-align: center;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 300;
      color: var(--dark-purple);
    }
  }
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 300px;
  height: 100%;
  background-color: var(--main-bg-color);
  padding: 25px 30px;
  transform: translate3d(-300px, 0, 0);
  ul {
    padding: 15px 0 0;
    margin: 0;
    list-style: none;

    li {
      border-bottom: 1px solid var(--lighten-gray);
      a {
        display: block;
        padding: 15px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        color: var(--link-color);
        &:hover {
          opacity: .8;
          color: var(--link-hover-color);
        }
      }
    }
  }
}

.menu-icon-container {
  width: 25%;
  text-align: left;
}

.search-icon-container {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu-icon,
.menu-icon-close,
.search-icon a,
.search-icon-close {
  cursor: pointer;
  font-size: 18px;
  color: var(--icon-color);
  transition: all .4s;
  padding: 10px;
  &:hover {
    color: var(--icon--hover-color);
  }
}

dark-mode-toggle::part(toggleLabel)::before{
  margin-top: -10px;
}