---
import { siteConfig } from '@/config';
const year = new Date().getFullYear();
---

<footer class="main-footer">
  <div class="copyright">
    <p>{year} &copy; {siteConfig.author}</p>
  </div>
</footer>
