---
import { Icon } from 'astro-icon/components';

interface Props {
  previousUrl?: string;
  nextUrl?: string;
}

const { previousUrl, nextUrl } = Astro.props;
---

{(previousUrl || nextUrl) && (
  <div class="pagination clearfix">
    {previousUrl && (
      <a href={previousUrl} class="previous">
        <Icon name="lucide:chevron-left" aria-hidden="true" /> Previous
      </a>
    )}
    {nextUrl && (
      <a href={nextUrl} class="next">
        Next <Icon name="lucide:chevron-right" aria-hidden="true" />
      </a>
    )}
  </div>
)}
