---
import { Icon } from 'astro-icon/components';

interface Props {
  importantText?: string;
}

const { importantText } = Astro.props;
---

<div class="important-block">
  <span class="important-block__header">
    <strong>
      <Icon name="lucide:alert-circle" aria-hidden="true" size={18} style="margin-right: 5px;" />IMPORTANT
    </strong>
  </span>
  <br />
  {importantText ? <Fragment set:html={importantText} /> : <slot />}
</div>
