---
import { Icon } from 'astro-icon/components';

interface Props {
  text?: string;
}

const { text } = Astro.props;
---

<div class="update-block">
  <span class="update-block__header">
    <strong>
      <Icon name="lucide:alert-circle" aria-hidden="true" size={18} style="margin-right: 5px;" />UPDATE
    </strong>
  </span>
  <br />
  {text ? <Fragment set:html={text} /> : <slot />}
</div>
